.title{
    margin-bottom: 10px;
    text-align:center;
    width: 350px;
    height:40px;
    color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    font-size: 50px;
    
    }
.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
  body{
      background-color:black;
  }      

input[type="button"]{
  background-color: darkgoldenrod;
    color: black;
    border-color:black ;
    width:120px;
    height:40px;
    cursor:pointer;
    font-size:30px;
    border-radius: 50px;

}
input[type="text"]
{
    text-align: right;
    background-color:white;
    border-color: black ;
    width:100%;
    height:50px;
    font-size:30px;
    border-radius:50px ;
}


@media (min-width: 768px) and (max-width: 991px) {
    .title{
        margin-top:20%;
        
        font-size: 50px;
    }
    
    input[type="button"]{
        font-size: 50px !important;
        width:15vw;
        height:10vh;
        border-radius:40px;
        font-family: arial bold;
    }
    input[type="text"]{
        font-size: 50px !important;
        width:45vw;
        height:10vh;
        border-radius:50px;
    }
}